@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* UNIVERSAL CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

html {
  scroll-behavior: smooth;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  padding: 32px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #243e63;
}
h1 {
  font-size: 48px;
}

p {
  line-height: 1.5;
  color: #7c8ba1;
}
button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.text--purple {
  color: #6415ff;
}
/* NAV BAR */
.logo {
  width: 40px;
  margin: 0 12px 0 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
  padding: 0 0 4px;
}
.nav__link--normal {
  margin: 0 24px;
}

.nav__link--normal:hover,
.nav__link--styled:hover {
  text-decoration: underline;
}

.nav__link--styled {
  margin: 0 24px 0 48px;
}

.nav__link--primary {
  padding: 12px 32px;
  border: none;
  background-color: #6415ff;
  color: #f7fafc;
  margin-top: 0.5rem;
  border-radius: 9999px;
  transition: background-color 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #5a14e7;
}

.nav__link--bold {
  text-decoration: none;
  padding: 0 0 4px;
  margin-right: 24px;
  font-size: 24px;
  font-weight: 900;
}

/* LANDING */

.landing__container {
  padding: 76px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__info {
  width: 40%;
}

.landing__info--image {
  width: 60%;
}
.landing__img--container {
  display: flex;
  justify-content: end;
}
.landing__img {
  width: 90%;
}

.landing__header {
  font-size: 36px;
  font-weight: 700;
}

.landing__text {
  margin: 32px 0;
  font-size: 16px;
  text-align: left;
}

.landing__info--input {
  display: flex;
}

.landing__info--img {
  width: 90%;
}

.landing__customers--container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.landing__customers--para {
  font-size: 12px;
  color: #a0aec0;
}
.landing__customers--img {
  width: 100%;
  margin: 16px 0 0;
  opacity: 60%;
}

/* features */

.features__sub-heading {
  letter-spacing: 0.1rem;
}

.features__container {
  width: 100%;
  max-width: 800px;
  padding: 96px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__sub-heading {
  margin-bottom: 16px;
  text-align: center;
}

.features__para {
  margin-top: 16px;
  width: 100%;
  max-width: 576px;
  text-align: center;
}

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-top: 32px;
  width: 100%;
}
.services__item--container {
  width: calc(100% / 3);
  margin: 0 16px;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.services__text--container {
  margin: 8px 0 0 16px;
}

.service__para {
  margin-top: 16px;
}

.services__img--container {
  border: solid lightgray;
  border-radius: 9999px;
  border-width: 1px;
  padding: 20px;
  height: 68px;
}

.service__img {
  width: 24px;
  height: 24px;
}

/* WORK */

.work__sub-heading {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 16px;
}
.work__container {
  display: flex;
  padding: 96px 0;
  align-items: center;
}
.work__title {
  text-align: left;
  max-width: 80%;
}
.work__text {
  padding: 32px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.work__img--container {
  width: 50%;
}

.work__para {
  font-size: 18;
  margin: 16px 0 32px;
}

.work__img {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border: solid #a0aec02c;
}

/* STEPS */

.steps__img {
  width: 100%;
}
.steps__text {
  max-width: 50%;
}
.steps__text--container {
  max-width: 90%;
  margin: 0 auto;
}
.step__container {
  padding: 96px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  margin: 32px 0 0;
  display: flex;
}

.step__num {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
}
.step__text {
  margin-left: 24px;
}

.step__header {
  font-size: 24px;
  font-weight: 600;
}

.step__para {
  font-size: 14px;
  text-align: left;
}

/* VALUES */

.values__para {
  margin-top: 32px;
}

.values__box {
  margin: 32px 32px 0 0;
}

.value__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.values__title--words {
  margin-left: 12px;
}

.values__info {
  display: flex;
}

.values__btn {
  margin-top: 48px;
}

.value__img--red {
  display: flex;
  color: rgb(155 44 44);
  background-color: rgb(254 178 178);
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
}

.value__img--green {
  display: flex;
  color: rgb(39 103 73);
  background-color: rgb(154 230 180);
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
}

/* PRICING */

.pricing__container {
  padding: 96px 0;
}

.pricing__header--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__sub-heading {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 16px;
}
.plan__title {
  text-align: center;
}
.plan__container {
  width: 100%;
  padding-top: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pricing__para {
  width: 100%;
  margin-top: 16px;
  max-width: 36rem;
  text-align: center;
}

.plan {
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.plan__header,
.plan__features,
.plan__action {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  text-align: center;
  width: 100%;
}

.plan__header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;

  padding: 32px 0;
}
.plan__name {
  font-size: 1.25rem;
  font-weight: 700;
}

.plan__price {
  margin: 4px 0;
  font-size: 48px;
  font-weight: 700;
}

.plan__duration {
  font-weight: 700;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192);
}

.plan__features {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.plan__feature--main {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.plan__feature {
  margin-top: 20px;
  color: #7c8ba1;
}
.plan__action {
  padding: 32px;
}

.plan__btn {
  padding: 16px 32px;
  font-size: 14px;
}

.plan__btn--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__btn--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__btn--white {
  background-color: rgb(247 250 252);
  color: rgb(100 21 255);
}

.white {
  color: white;
}

.plan__blue {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__styling {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__styling--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__styling--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* FOOTER */
.footer__container{
  width: 100%;
  height: auto;
  position: relative;
}
.footer__background{
  background-color: rgb(100 21 255);
}

.link--header{
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.link__group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/5);
  
}
.link{
  color: white;
  
}